@import 'variables';

.main-wrapper{
    width: 100%;
    height: 100%;
    //position: relative;
    background-color: #191919;
    overflow-y: auto;
}

.content{
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 75%;
    height: 100%;
    padding: 30px;
    transition: all ease 0.2s;
    animation-name: appear;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    h1{
        &:after{
            transition: all linear 0.5s;
        }
    }
    p{
        font-size: 1.7em;
        line-height: 2em;
        color: white;
    }
    .quote{
        color: $accent;
        display: block;
        width: 50%;
        position: relative;
        &:after{
         content: '';
         width: 100%;
         height: 2px;
         bottom: -10px;
         left: 0;
         position: absolute;
         background-color: rgba(0,0,0,.4);   
        }
        &:before{
         content: '';
         width: 100%;
         height: 2px;
         top: -5px;
         left: 0;
         position: absolute;
         background-color: rgba(0,0,0,.4);   
        }
    }
}


.top-links{
    color: $accent;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;

    span{
        display: block;
        margin: 0px 20px;
        font-size: 1.3em;
        font-family: $oswald;
        
    }

    a{
        text-decoration: none;
        color: $accent;
        display: block;
        position: relative;
        transition: all ease 0.3s;
        &:after{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -2px;
            left: 0;
            background-color: $accent;
        }
        &:hover{
            color: $tan;
        }
    }
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgba(0,0,0,0);
    font-size: 15pt;
    font-weight: bold;
    font-family: $oswald;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tan;
    z-index: 1;
    a{
            padding: 0 10px;
            color: #515151;
            margin: 0px 30px;
            text-decoration: none;
            transition: all linear 0.2s;
            outline: none;
            &:hover{
                //background-color: #020202;
                color: $accent;
            }

            &.selected{
                //background: #020202;
                color: $accent;
            }
    }
    .menu-button-wrapper{
        width: 100%;
        height: 30px;
        position: absolute;
        
        left: 50%;
        bottom: 20px;
        transform: translate(-50%, 50%);
        //z-index: 99;
        display: none;
    
        svg{
            color: #191919;
            width: 100%;
            height: 100%;
            transition: all ease 0.5s;
        }
        
    }
    
}