@media(max-width: 1000px){
    .wrapper{
        width: 90% !important;
        h1{
            &:after{
                width: 100% !important;
            }
        }
    }

    .image{
        float:none !important;
        width: 100% !important;
        margin: 0 !important;
    }
}


@media(max-width: 1250px){
    nav{
        flex-direction: column !important;
        overflow: hidden;
        transition: all ease 0.5s;
        color: rgba(0,0,0,0);
        .menu-button-wrapper{
            display: block !important;
        }
        a{
            margin-bottom: 2em !important;
            opacity: 0;
            //display: none;
        }
        &.open{
            height: 100%;
            width: 100%;
            position: absolute;
            a{
                display: block;
                opacity: 1;
            }
            .menu-button-wrapper{
                bottom: 20px;
            }
        }
    }
}

@media(max-width: 600px){
    .wrapper{
        width: 100% !important;
        padding-top: 0px !important;
        h1{
            &:after{
                width: 100% !important;
            }
            font-size: 15pt !important;
        }
        .section{
            margin-bottom: 60px !important;
        }

        .image{
            margin-top: 10px;
        }
        p{
            font-size: 12pt !important;
        }
    }
}